$constant-white: #fff;
$constant-black: #000;

// Grayscale
$grayscale-1: var(--grayscale-1);
$grayscale-2: var(--grayscale-2);
$grayscale-3: var(--grayscale-3);
$grayscale-4: var(--grayscale-4);
$grayscale-5: var(--grayscale-5);
$grayscale-6: var(--grayscale-6);

// Red
$red-1: var(--red-1);

// Blue
$blue-1: var(--blue-1);
